@{ ViewData["Title"] = "everflowtest"; Layout = "~/Views/Layouts/_adminLayout.cshtml"; }

<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<style>
    .hunderd {
        font-size: 12px;
        padding: 5px;
        border-radius: 5px;
        color: #fff;
        margin-left: 5px;
        text-align: right;
        background-color: #6c89b8;
        max-width: 100px;
        height: 28px;
        float: right;
    }
    .card {
        border: 1px solid #6c89b8;
        margin-top: -5px;
    }
    .box .card-body {
        margin-top: -4%;
         height: 16em;
    }
    .main-metric
    {
        display:none;
    }
    .box .card-body p {
        text-align: center;
    }
        .box .card-body img {
            width:16%;
        }
        .uppertext {
            text-transform: uppercase;
            font-size: 13.5px;
            color: #555;
            margin-right: 5px;
        }

    .top-right {
        height: 35px;
        background: #6c89b8;
        -webkit-clip-path: polygon(100% 0, 69% 0, 100% 31%);
        clip-path: polygon(100% 0, 92% 0, 100% 33%);
        margin-right: -1px;
        margin-top: -2px;
    }
    .top-left {
        height: 35px;
        background: #6c89b8;
        clip-path: polygon(0 0, 0 30%, 8% 0);
        margin-left: -1px;
        margin-top: -2px;
    }
    .pacingname {
        letter-spacing: .2px;
        color: rgba(0, 0, 0, .87);
        text-align: left;
        text-transform: uppercase;
        font-size: 10px;
        color: #555;
        margin-bottom: 1rem !important;
    }

    .zeropacingname {
        letter-spacing: .2px;
        color: rgba(0, 0, 0, .87);
        text-align: end;
        text-transform: uppercase;
        font-size: 10px;
        color: #555;
        margin-bottom: 1rem !important;
    }

    .main-metric {
        color: rgba(0, 0, 0, .87);
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }
</style>
<style>
    .venu {
        padding-left: 8%;
        color: #fff;
    }

    .ven {
        text-align: center;
        color: #fff;
    }

    .ard {
        padding-top: 5%;
        padding-bottom: 0%;
        background-color: #6c89b8;
        margin-bottom:0px;
    }

    .et {
        padding-left: 7px;
        padding-right: 10px;
    }
</style>
<div style="display:none;" class="card">

    <div class="card-body">
        <div class="row">

            <div class="col-6">
                <h6>Hello Jon Romano</h6>

            </div>


            <div class="col-6" style="text-align: right;">

                <h6>Jon Romano</h6>
                <p>Super Admin</p>
            </div>
        </div>
    </div>
</div>

<div class="row" style="
    background: #dee5ef;">

    <div class="col-6">
        <span style="
    display: flex;
">
            <img class="ico" src="/img/Icon120.png">


            <h1 class="ds">
                Dashboard
            </h1>
        </span>
    </div>

    <div class="col-6" style="text-align: right;">

        <p class=" timep">@DateTime.Now.ToLongDateString()</p>
    </div>
</div>


<div class="row"  style="    margin-top: 1em ;">

    <div class="col-md-3">

        <div class="card ard">
            <div class="row">
                <div class="col-8">
                    <h5 class="venu">REVENUE</h5>
                </div>
                <div class="col-4">
                    <p class="ven">TODAY</p>
                </div>
            </div>
        </div>
        <div class="card box">
            <div class="row">
                <div class="col-6">
                    <div class="top-left"></div>
                </div>
                <div class="col-6">
                    <div class="top-right"></div>
                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-6">

                        <h4 class="uppertext">$@ViewBag.apiresult.revenue.today.00</h4>

                    </div>
                    <div class="col-6">
                        <h4 class="hunderd">@ViewBag.apiresult.revenue.trending_percentage %</h4>


                    </div>
                    <p> <img src="~/img/Icon11.png" /></p>
                    <h4 class="main-metric">$0.00</h4>

                    <div class="col-8">

                        <h5 class="pacingname "> Yesterday </h5>
                        <h5 class="pacingname "> CURRENT MONTH </h5>
                        <h5 class="pacingname "> LAST MONTH </h5>

                    </div>
                    <div class="col-4">
                        <h5 class="zeropacingname "> $@ViewBag.apiresult.revenue.yesterday.00</h5>
                        <h5 class="zeropacingname ">$@ViewBag.apiresult.revenue.current_month.00</h5>
                        <h5 class="zeropacingname ">$@ViewBag.apiresult.revenue.last_month.00</h5>

                    </div>
                </div>


            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card ard">
            <div class="row">
                <div class="col-8">
                    <h5 class="venu">PAYOUT</h5>
                </div>
                <div class="col-4">
                    <p class="ven">TODAY</p>
                </div>
            </div>
        </div>
     
        <div class="card box" style=" ">
            <div class="row">
                <div class="col-6">
                    <div class="top-left"></div>
                </div>
                <div class="col-6">
                    <div class="top-right"></div>
                </div>
            </div>
     
       
            <div class="card-body">




                <div class="row">
                    <div class="col-6">

                        <h4 class="uppertext">$@ViewBag.apiresult.payout.today.00</h4>

                    </div>
                    <div class="col-6">
                        <h4 class="hunderd">@ViewBag.apiresult.payout.trending_percentage%</h4>


                    </div>
                    <p> <img src="~/img/Icon22.png" /></p>
                   
                    <h4 class="main-metric">$0.00</h4>

                    <div class="col-8">

                        <h5 class="pacingname "> Yesterday </h5>
                        <h5 class="pacingname "> CURRENT MONTH </h5>
                        <h5 class="pacingname "> LAST MONTH </h5>

                    </div>
                    <div class="col-4">
                        <h5 class="zeropacingname "> $@ViewBag.apiresult.payout.yesterday.00</h5>
                        <h5 class="zeropacingname ">$@ViewBag.apiresult.payout.current_month.00</h5>
                        <h5 class="zeropacingname ">$@ViewBag.apiresult.payout.last_month.00</h5>

                    </div>
                </div>


            </div>
           

        </div>

    </div>

    <div class="col-md-3">

        <div class="card ard">
            <div class="row">
                <div class="col-8">
                    <h5 class="venu">MARGIN</h5>
                </div>
                <div class="col-4">
                    <p class="ven">TODAY</p>
                </div>
            </div>
        </div>
        <div class="card box">
            <div class="row">
                <div class="col-6">
                    <div class="top-left"></div>
                </div>
                <div class="col-6">
                    <div class="top-right"></div>
                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-6">

                        <h4 class="uppertext">@ViewBag.apiresult.margin.today%</h4>

                    </div>
                    <div class="col-6">
                        <h4 class="hunderd">@ViewBag.apiresult.margin.today%</h4>


                    </div>
                    <p> <img src="~/img/Icon33.png" /></p>
                    <h4 class="main-metric">$0.00</h4>

                    <div class="col-8">

                        <h5 class="pacingname "> Yesterday </h5>
                        <h5 class="pacingname "> CURRENT MONTH </h5>
                        <h5 class="pacingname "> LAST MONTH </h5>

                    </div>
                    <div class="col-4">
                        <h5 class="zeropacingname "> @ViewBag.apiresult.margin.yesterday%</h5>
                        <h5 class="zeropacingname ">@ViewBag.apiresult.margin.current_month%</h5>
                        <h5 class="zeropacingname ">@ViewBag.apiresult.margin.last_month%</h5>

                    </div>
                </div>


            </div>

        </div>

    </div>


    <div class="col-md-3">

        <div class="card ard">
            <div class="row">
                <div class="col-8">
                    <h5 class="venu">CLICK</h5>
                </div>
                <div class="col-4">
                    <p class="ven">TODAY</p>
                </div>
            </div>
        </div>
        <div class="card box">
            <div class="row">
                <div class="col-6">
                    <div class="top-left"></div>
                </div>
                <div class="col-6">
                    <div class="top-right"></div>
                </div>
            </div>
            <div class="card-body">




                <div class="row">
                    <div class="col-6">

                        <h4 class="uppertext">@ViewBag.apiresult.gross_click.trending_percentage</h4>

                    </div>
                    <div class="col-6">
                        <h4 class="hunderd et">@ViewBag.apiresult.gross_click.trending_percentage</h4>


                    </div>
                    <p> <img src="~/img/Icon44.png" /></p>
                    <h4 class="main-metric">$0.00</h4>

                    <div class="col-8">

                        <h5 class="pacingname "> Yesterday </h5>
                        <h5 class="pacingname "> CURRENT MONTH </h5>
                        <h5 class="pacingname "> LAST MONTH </h5>

                    </div>
                    <div class="col-4">
                        <h5 class="zeropacingname "> @ViewBag.apiresult.gross_click.yesterday </h5>
                        <h5 class="zeropacingname ">@ViewBag.apiresult.gross_click.current_month</h5>
                        <h5 class="zeropacingname ">@ViewBag.apiresult.gross_click.last_month</h5>

                    </div>
                </div>


            </div>

        </div>

    </div>

</div>




<div class="row" style="    margin-top: 1em ;">
    <div class="col-md-3">

        <div class="card ard">
            <div class="row">
                <div class="col-8">
                    <h5 class="venu">CONVERSION</h5>
                </div>
                <div class="col-4">
                    <p class="ven">TODAY</p>
                </div>
            </div>
        </div>
        <div class="card box">
            <div class="row">
                <div class="col-6">
                    <div class="top-left"></div>
                </div>
                <div class="col-6">
                    <div class="top-right"></div>
                </div>
            </div>
            <div class="card-body">




                <div class="row">
                    <div class="col-6">

                        <h4 class="uppertext">@ViewBag.apiresult.conversion.today</h4>

                    </div>
                    <div class="col-6">
                        <h4 class="hunderd">@ViewBag.apiresult.conversion.trending_percentage%</h4>


                    </div>
                    <p> <img src="~/img/Icon55.png" /></p>
                    <h4 class="main-metric">$0.00</h4>

                    <div class="col-8">

                        <h5 class="pacingname "> Yesterday </h5>
                        <h5 class="pacingname "> CURRENT MONTH </h5>
                        <h5 class="pacingname "> LAST MONTH </h5>

                    </div>
                    <div class="col-4">
                        <h5 class="zeropacingname ">  @ViewBag.apiresult.conversion.yesterday</h5>
                        <h5 class="zeropacingname ">  @ViewBag.apiresult.conversion.current_month</h5>
                        <h5 class="zeropacingname "> @ViewBag.apiresult.conversion.last_month</h5>

                    </div>
                </div>


            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card ard">
            <div class="row">
                <div class="col-8">
                    <h5 class="venu">
                        UNIQUE CLICKS
                    </h5>
                </div>
                <div class="col-4">
                    <p class="ven">TODAY</p>
                </div>
            </div>
        </div>
        <div class="card box">
            <div class="row">
                <div class="col-6">
                    <div class="top-left"></div>
                </div>
                <div class="col-6">
                    <div class="top-right"></div>
                </div>
            </div>
            <div class="card-body">




                <div class="row">
                    <div class="col-6">

                        <h4 class="uppertext">@ViewBag.apiresult.unique_click.today</h4>

                    </div>
                    <div class="col-6">
                        <h4 class="hunderd">@ViewBag.apiresult.unique_click.trending_percentage%</h4>


                    </div>
                    <p> <img src="~/img/Icon66.png" /></p>
                    <h4 class="main-metric">$0.00</h4>

                    <div class="col-8">

                        <h5 class="pacingname "> Yesterday </h5>
                        <h5 class="pacingname "> CURRENT MONTH </h5>
                        <h5 class="pacingname "> LAST MONTH </h5>

                    </div>
                    <div class="col-4">
                        <h5 class="zeropacingname "> @ViewBag.apiresult.unique_click.yesterday</h5>
                        <h5 class="zeropacingname ">  @ViewBag.apiresult.unique_click.current_month</h5>
                        <h5 class="zeropacingname ">@ViewBag.apiresult.unique_click.last_month</h5>

                    </div>
                </div>


            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card ard">
            <div class="row">
                <div class="col-8">
                    <h5 class="venu">GROSS CLICKS</h5>
                </div>
                <div class="col-4">
                    <p class="ven">TODAY</p>
                </div>
            </div>
        </div>
        <div class="card box">
            <div class="row">
                <div class="col-6">
                    <div class="top-left"></div>
                </div>
                <div class="col-6">
                    <div class="top-right"></div>
                </div>
            </div>
            <div class="card-body">




                <div class="row">
                    <div class="col-6">

                        <h4 class="uppertext">@ViewBag.apiresult.gross_click.today</h4>

                    </div>
                    <div class="col-6">
                        <h4 class="hunderd et">@ViewBag.apiresult.gross_click.trending_percentage %</h4>


                    </div>
                    <p> <img src="~/img/Icon77.png" /></p>
                    <h4 class="main-metric">$0.00</h4>

                    <div class="col-8">

                        <h5 class="pacingname "> Yesterday </h5>
                        <h5 class="pacingname "> CURRENT MONTH </h5>
                        <h5 class="pacingname "> LAST MONTH </h5>

                    </div>
                    <div class="col-4">
                        <h5 class="zeropacingname ">  @ViewBag.apiresult.gross_click.yesterday</h5>
                        <h5 class="zeropacingname ">   @ViewBag.apiresult.gross_click.current_month</h5>
                        <h5 class="zeropacingname ">@ViewBag.apiresult.gross_click.last_month</h5>

                    </div>
                </div>


            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card ard">
            <div class="row">
                <div class="col-8">
                    <h5 class="venu">EPC</h5>
                </div>
                <div class="col-4">
                    <p class="ven">TODAY</p>
                </div>
            </div>
        </div>
        <div class="card box">
            <div class="row">
                <div class="col-6">
                    <div class="top-left"></div>
                </div>
                <div class="col-6">
                    <div class="top-right"></div>
                </div>
            </div>
            <div class="card-body">




                <div class="row">
                    <div class="col-6">

                        <h4 class="uppertext">$0.00</h4>

                    </div>
                    <div class="col-6">
                        <h4 class="hunderd">@ViewBag.apiresult.epc.today%</h4>


                    </div>
                    <p> <img src="~/img/Icon88.png" /></p>
                    <h4 class="main-metric">$@ViewBag.apiresult.epc.today.00</h4>

                    <div class="col-8">

                        <h5 class="pacingname "> Yesterday </h5>
                        <h5 class="pacingname "> CURRENT MONTH </h5>
                        <h5 class="pacingname "> LAST MONTH </h5>

                    </div>
                    <div class="col-4">
                        <h5 class="zeropacingname "> $@ViewBag.apiresult.epc.yesterday.00</h5>
                        <h5 class="zeropacingname ">  $@ViewBag.apiresult.epc.current_month.00</h5>
                        <h5 class="zeropacingname "> $@ViewBag.apiresult.epc.last_month.00</h5>

                    </div>
                </div>


            </div>

        </div>

    </div>




</div>

<div class="row" style="    margin-top: 1em ;">
    <div class="col-md-3">

        <div class="card ard">
            <div class="row">
                <div class="col-8">
                    <h5 class="venu">CPC</h5>
                </div>
                <div class="col-4">
                    <p class="ven">TODAY</p>
                </div>
            </div>
        </div>
        <div class="card box">
            <div class="row">
                <div class="col-6">
                    <div class="top-left"></div>
                </div>
                <div class="col-6">
                    <div class="top-right"></div>
                </div>
            </div>
            <div class="card-body">




                <div class="row">
                    <div class="col-6">

                        <h4 class="uppertext">@ViewBag.apiresult.cpc.today%</h4>

                    </div>
                    <div class="col-6">
                        <h4 class="hunderd">@ViewBag.apiresult.cpc.today%</h4>


                    </div>
                    <p> <img src="~/img/Icon99.png" /></p>
                    <h4 class="main-metric">$0.00</h4>

                    <div class="col-8">

                        <h5 class="pacingname "> Yesterday </h5>
                        <h5 class="pacingname "> CURRENT MONTH </h5>
                        <h5 class="pacingname "> LAST MONTH </h5>

                    </div>
                    <div class="col-4">
                        <h5 class="zeropacingname ">  @ViewBag.apiresult.cpc.yesterday%</h5>
                        <h5 class="zeropacingname ">   @ViewBag.apiresult.cpc.current_month%</h5>
                        <h5 class="zeropacingname ">@ViewBag.apiresult.cpc.last_month%</h5>

                    </div>
                </div>


            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card ard">
            <div class="row">
                <div class="col-8">
                    <h5 class="venu">
                        EVR
                    </h5>
                </div>
                <div class="col-4">
                    <p class="ven">TODAY</p>
                </div>
            </div>
        </div>
        <div class="card box">
            <div class="row">
                <div class="col-6">
                    <div class="top-left"></div>
                </div>
                <div class="col-6">
                    <div class="top-right"></div>
                </div>
            </div>
            <div class="card-body">




                <div class="row">
                    <div class="col-6">

                        <h4 class="uppertext">@ViewBag.apiresult.evr.today</h4>

                    </div>
                    <div class="col-6">
                        <h4 class="hunderd">@ViewBag.apiresult.evr.today%</h4>


                    </div>
                    <p> <img src="~/img/Icon110.png" /></p>
                    <h4 class="main-metric">$0.00</h4>

                    <div class="col-8">

                        <h5 class="pacingname "> Yesterday </h5>
                        <h5 class="pacingname "> CURRENT MONTH </h5>
                        <h5 class="pacingname "> LAST MONTH </h5>

                    </div>
                    <div class="col-4">
                        <h5 class="zeropacingname ">  @ViewBag.apiresult.evr.yesterday</h5>
                        <h5 class="zeropacingname "> @ViewBag.apiresult.evr.current_month</h5>
                        <h5 class="zeropacingname ">@ViewBag.apiresult.evr.last_month</h5>

                    </div>
                </div>


            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card ard">
            <div class="row">
                <div class="col-8">
                    <h5 class="venu">CVR</h5>
                </div>
                <div class="col-4">
                    <p class="ven">TODAY</p>
                </div>
            </div>
        </div>
        <div class="card box">
            <div class="row">
                <div class="col-6">
                    <div class="top-left"></div>
                </div>
                <div class="col-6">
                    <div class="top-right"></div>
                </div>
            </div>
            <div class="card-body">




                <div class="row">
                    <div class="col-6">

                        <h4 class="uppertext">@ViewBag.apiresult.cvr.today</h4>

                    </div>
                    <div class="col-6">
                        <h4 class="hunderd et">@ViewBag.apiresult.cvr.today</h4>


                    </div>
                    <p> <img src="~/img/Icon111.png" /></p>
                    <h4 class="main-metric">$0.00</h4>

                    <div class="col-8">

                        <h5 class="pacingname "> Yesterday </h5>
                        <h5 class="pacingname "> CURRENT MONTH </h5>
                        <h5 class="pacingname "> LAST MONTH </h5>

                    </div>
                    <div class="col-4">
                        <h5 class="zeropacingname ">@ViewBag.apiresult.cvr.yesterday</h5>
                        <h5 class="zeropacingname ">@ViewBag.apiresult.cvr.current_month</h5>
                        <h5 class="zeropacingname ">@ViewBag.apiresult.cvr.last_month</h5>

                    </div>
                </div>


            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card ard">
            <div class="row">
                <div class="col-8">
                    <h5 class="venu">PROFIT</h5>
                </div>
                <div class="col-4">
                    <p class="ven">TODAY</p>
                </div>
            </div>
        </div>
        <div class="card box">
            <div class="row">
                <div class="col-6">
                    <div class="top-left"></div>
                </div>
                <div class="col-6">
                    <div class="top-right"></div>
                </div>
            </div>
            <div class="card-body">




                <div class="row">
                    <div class="col-6">

                        <h4 class="uppertext">$@ViewBag.apiresult.profit.today.00</h4>

                    </div>
                    <div class="col-6">
                        <h4 class="hunderd">@ViewBag.apiresult.profit.today %</h4>


                    </div>
                    <p> <img src="~/img/Icon112.png" /></p>
                    <h4 class="main-metric">$0.00</h4>

                    <div class="col-8">

                        <h5 class="pacingname "> Yesterday </h5>
                        <h5 class="pacingname "> CURRENT MONTH </h5>
                        <h5 class="pacingname "> LAST MONTH </h5>

                    </div>
                    <div class="col-4">
                        <h5 class="zeropacingname ">@ViewBag.apiresult.profit.yesterday</h5>
                        <h5 class="zeropacingname ">   @ViewBag.apiresult.profit.current_month</h5>
                        <h5 class="zeropacingname ">   @ViewBag.apiresult.profit.last_month</h5>

                    </div>
                </div>


            </div>

        </div>

    </div>




</div>





