<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="30x30" href="~/asset/FaviconCosmoTemplate.png">

    <title>Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/maeen_asset/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/maeen_asset/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="~/maeen_asset/css/colors/blue.css" id="theme" rel="stylesheet">
    <link href="~/maeen_asset/assets/plugins/footable/css/footable.core.css" rel="stylesheet">
    <link href="~/maeen_asset/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
   
    <link href="~/agencyvendor_assets/assets/plugins/bootstrap-touchpin/bootstrap-touchspin.min.css" rel="stylesheet">
    <link href="~/agencyvendor_assets/assets/plugins/select2/select2.min.css" rel="stylesheet">
    <link href="~/agencyvendor_assets/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="~/agencyvendor_assets/assets/plugins/select2/select2.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="~/agencyvendor_assets/assets/plugins/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css">
    <link href="~/agencyvendor_assets/assets/plugins/dropify/css/dropify.min.css" rel="stylesheet">
    <link href="~/maeen_asset/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
    <link href="~/maeen_asset/assets/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css">
    @*<link href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/datetime/1.1.1/css/dataTables.dateTime.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/colreorder/1.5.4/css/colReorder.dataTables.min.css" rel="stylesheet">*@


   

</head>

<body class="fix-header card-no-border">
    <style>
        .icon {
            display: none !important;
        }

        .fontsizee {
            font-size: 25px;
            font-weight: bold;
        }

        .imgsize {
            width: 20% !important;
        }

        .sidbarfont {
            font-size: 17px !important;
            font-weight: 300 !important;
        }

        .topimgwidt {
            width: 16% !important;
        }

        .toggle {
            display: none !important;
        }




        @@media only screen and (max-width: 600px) {
            .icon {
                display: inline !important;
            }

            .toggle {
                display: inline-block !important;
            }

            .toggles {
                color: black !important;
                font-size: 20px !important;
            }

            .imgsize {
                width: 90% !important;
            }

            .topimgwidt {
                width: 0% !important;
            }
        }

        @@media only screen and (max-width: 600px) {
            .website {
                display: none;
            }
        }

        @@media only screen and (min-width: 600px) {
            .websitee {
                display: none;
            }
        }
    </style>


    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light" style="background-color: #fefefe;">



                <div class="navbar-header topimgwidt" style="text-align:left;">
                    @*<div class="col-md-3 pro" style="display:inline;">*@
                    @*<span>
                            <img style="height:20px;" src="/maeen_asset/assets/images/users/1.jpg">
                            <span style=" font-weight: 600; color: black;">Admin</span>
                        </span>*@
                    <li class="nav-item dropdown website">
                        <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark has-arrow" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span style=" color: black; font-size: 17px; font-weight: 400;"><i style="font-size:15px;" class="fa fa-arrow-down"></i>Website</span>
                        </a>
                        <div class="dropdown-menu mailbox animated slideInUp owl-animated-in slimScrollDiv" style="width: 20px; line-height: 2em;">
                            @foreach (var i in ViewBag.sites)
                            {


                                <ul>

                                    <li style=" margin-left: 22px;"><a style="color: black;" href="http://cosmopolitancg.com">CCG</a></li>
                                    <li style=" margin-left: 22px;"><a style="color: black;" href="http://cosmopolitantemplate.com/admin/valuepass?tid=@i.Gmail&tidpass=@i.password">CCG Temp</a></li>
                                    <li style=" margin-left:22px;"><a style="color: black;" href="http://studentfintech.app/admin/valuepass?tid=@i.Gmail&tidpass=@i.password">Student Fintech</a></li>
                                    <li style=" margin-left: 22px;"><a style="color: black;" href="http://unclaimedgovernment.com/admin/valuepass?tid=@i.Gmail&tidpass=@i.password">Unclaimed GOV</a></li>
                                    <li style=" margin-left: 22px;"><a style="color: black;" href="http://AutoRateFreedom.com/admin/valuepass?tid=@i.Gmail&tidpass=@i.password">AutoRate Freedom</a></li>
                                    <li style=" margin-left: 22px;"><a style="color: black;" href="http://SeniorDiscountSavings.comadmin/valuepass?tid=@i.Gmail&tidpass=@i.password">Senior Discount Savings</a></li>


                                </ul>
                            }
                        </div>
                    </li>
                    @*</div>*@
                    @*<a class="navbar-brand" href="/Maeen/DashboardView">
                            <b>



                            </b>

                            <span>



                                <img src="/maeen.png" class="light-logo" alt="homepage">
                                <h1 class="light-logo" alt="homepage">Admin</h1>
                            </span>
                        </a>*@
                </div>



                <div class="navbar-collapse">



                    <ul class="navbar-nav mr-auto mt-md-0">

                        <li class="nav-item toggle "> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu toggles"></i></a> </li>
                        <li class="nav-item m-l-10 toggle "> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu toggles"></i></a> </li>



                        <li class="nav-item dropdown websitee">
                            <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span style=" color: black; font-size: 17px; font-weight: 400;"><i style="font-size:15px;" class="fa fa-arrow-down"></i>Website</span>
                            </a>
                            <div class="dropdown-menu mailbox animated slideInUp owl-animated-in slimScrollDiv" style="width: 20px; line-height: 2em;">
                                @foreach (var i in ViewBag.sites)
                                {


                                    <ul>

                                        <li style=" margin-left: 22px;"><a style="color: black;" href="http://cosmopolitancg.com">CCG</a></li>
                                        <li style=" margin-left: 22px;"><a style="color: black;" href="http://cosmopolitantemplate.com/admin/valuepass?tid=@i.Gmail&tidpass=@i.password">CCG Temp</a></li>
                                        <li style=" margin-left:22px;"><a style="color: black;" href="http://studentfintech.app/admin/valuepass?tid=@i.Gmail&tidpass=@i.password">Student Fintech</a></li>
                                        <li style=" margin-left: 22px;"><a style="color: black;" href="http://unclaimedgovernment.com/admin/valuepass?tid=@i.Gmail&tidpass=@i.password">Unclaimed GOV</a></li>
                                        <li style=" margin-left: 22px;"><a style="color: black;" href="http://AutoRateFreedom.com/admin/valuepass?tid=@i.Gmail&tidpass=@i.password">AutoRate Freedom</a></li>
                                        <li style=" margin-left: 22px;"><a style="color: black;" href="http://SeniorDiscountSavings.com/admin/valuepass?tid=@i.Gmail&tidpass=@i.password">Senior Discount Savings</a></li>

                                    </ul>
                                }
                            </div>
                        </li>
























                    </ul>
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <p style="text-align:center;margin-top:0;margin-bottom:0;">
                            <img class="imgsize" src="~/asset/StudentFinTech_Logo-mid-size.jpg" alt="StudentFintech">
                        </p>
                    </ul>



                    <ul class="navbar-nav my-lg-0">






                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i style="color:black;font-size:20px;" class="mdi mdi-settings"></i></a>
                            <div class="dropdown-menu dropdown-menu-right scale-up">
                                <ul class="dropdown-user">
                                    <li>
                                        <div class="dw-user-box">
                                            <div class="u-img"><img src="~/maeen_asset/assets/images/users/1.jpg" alt="user"></div>
                                            <div class="u-text">
                                                <h4>Steave Jobs</h4>
                                                <p class="text-muted">varun@gmail.com</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" style="background-color: #32373C;">
                <!-- User profile -->
                <!-- End User profile text-->
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        @*<li class="nav-devider"></li>*@
                        <li>

                            <a style="background:#ffb300;" class=" waves-effect waves-orange" href="" aria-expanded="false"><i style="color:white;" class="mdi mdi-microsoft"></i><span class="hide-menu sidbarfont">Dashboard</span></a>
                            <ul aria-expanded="false" class="collapse">



                                <li>
                                    <a class="has-arrow" href="#" aria-expanded="false">All Offers</a>
                                    <ul style="margin-left: 0px; background-color: #6c757d61; " aria-expanded="false" class="collapse">
                                        <li><a href="/admin/all_offers">All Offers</a></li>
                                        <li><a href="/admin/archiveoffers">Archived Offers</a></li>
                                        <li><a href="/admin/COREGOffers">CO-REG Offer</a></li>
                                        <li><a href="/admin/popup">POP Offer</a></li>
                                        <li><a href="/admin/pathoffers">Path Offer</a></li>
                                        <li><a href="/admin/offerwall">Wall Offer</a></li>


                                    </ul>
                                </li>

                                <li>
                                    <a class="has-arrow" href="#" aria-expanded="false">DISCLOSURES:</a>
                                    <ul style="margin-left: -27px; background-color: #6c757d61; " aria-expanded="false" class="collapse">
                                        <li style=" margin-left: 27px;"><a href="/admin/disclosuretext">Sign Up Disclosure Text</a></li>
                                        <li style=" margin-left: 27px;"><a href="/admin/tcpa">TCPA DISCLOSURE</a></li>
                                    </ul>
                                </li>



                            </ul>
                        </li>
                        <li>

                            <a class="waves-effect waves-dark" href="" aria-expanded="false"><i style="color:white;" class="mdi mdi-database"></i><span class="hide-menu sidbarfont">DATABASES</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a class="" href="/admin/consumer" aria-expanded="false">Consumer Database</a>



                                </li>
                                <li><a href="/admin/ccpaopout">CCPA Database</a></li>

                                <li><a href="/admin/siteunsub">Unsubscribe Database</a></li>
                                <li><a href="/admin/dne">DNE Database</a></li>

                            </ul>
                        </li>
                        @foreach (var i in ViewBag.sites)
                        {
                            if (@i.systemroll == "Affiliate" || @i.systemroll == "Admin" || @i.systemroll == "Super Admin")
                            {
                                <li>
                                    <a class="has-arrow" href="#" aria-expanded="false">AFFILIATES:</a>
                                    <ul style="margin-left: -27px; background-color: #6c757d61; " aria-expanded="false" class="collapse">
                                        <li style=" margin-left: 27px;"><a href="/admin/affiliates">Manage</a></li>


                                    </ul>
                                </li>
                            }
                        }
                        @foreach (var i in ViewBag.sites)
                        {
                            if (@i.systemroll == "Advertiser" || @i.systemroll == "Admin" || @i.systemroll == "Super Admin")
                            {


                                <li>
                                    <a class="has-arrow" href="#" aria-expanded="false">
                                        ADVERTISERS:
                                    </a>
                                    <ul style="margin-left: -27px; background-color: #6c757d61; " aria-expanded="false" class="collapse">
                                        <li style=" margin-left: 27px;"><a href="/admin/advertisers">Manage</a></li>


                                    </ul>
                                </li>
                            }
                        }

                        <li>
                            <a class="" href="/admin/systemuser" aria-expanded="false">System Users</a>



                        </li>
                        @*<li>
                                <a class="" href="/Maeen/Agency_Approvel" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span class="hide-menu">Agency Approval</span></a>

                            </li>*@

                        <!--<li>
                        <a class="" href="/Maeen/Agency_Approvel" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span class="hide-menu">Agency Approval</span></a>-->
                        @*<li><a href="app-calendar.html">Calendar</a></li>
                            <li><a href="app-chat.html">Chat app</a></li>
                            <li><a href="app-ticket.html">Support Ticket</a></li>
                            <li><a href="app-contact.html">Contact / Employee</a></li>
                            <li><a href="app-contact2.html">Contact Grid</a></li>
                            <li><a href="app-contact-detail.html">Contact Detail</a></li>*@
                        <!--]
                        </li>-->
                        @*<li>
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-widgets"></i><span class="hide-menu">Widgets</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="widget-apps.html">Data Widgets</a></li>
                                    <li><a href="widget-data.html">Statestic Widgets</a></li>
                                </ul>
                            </li>
                            <li class="nav-small-cap">EXTRA COMPONENTS</li>
                            <li>
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-book-multiple"></i><span class="hide-menu">Page Layout</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="layout-single-column.html">1 Column</a></li>
                                    <li><a href="layout-fix-header.html">Fix header</a></li>
                                    <li><a href="layout-fix-sidebar.html">Fix sidebar</a></li>
                                    <li><a href="layout-fix-header-sidebar.html">Fixe header &amp; Sidebar</a></li>
                                    <li><a href="layout-boxed.html">Boxed Layout</a></li>
                                    <li><a href="layout-logo-center.html">Logo in Center</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-book-open-variant"></i><span class="hide-menu">Sample Pages <span class="label label-rouded label-success pull-right">25</span></span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="starter-kit.html">Starter Kit</a></li>
                                    <li><a href="pages-blank.html">Blank page</a></li>
                                    <li>
                                        <a href="#" class="has-arrow">Authentication <span class="label label-rounded label-success">6</span></a>
                                        <ul aria-expanded="false" class="collapse">
                                            <li><a href="pages-login.html">Login 1</a></li>
                                            <li><a href="pages-login-2.html">Login 2</a></li>
                                            <li><a href="pages-register.html">Register</a></li>
                                            <li><a href="pages-register2.html">Register 2</a></li>
                                            <li><a href="pages-lockscreen.html">Lockscreen</a></li>
                                            <li><a href="pages-recover-password.html">Recover password</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="pages-profile.html">Profile page</a></li>
                                    <li><a href="pages-animation.html">Animation</a></li>
                                    <li><a href="pages-fix-innersidebar.html">Sticky Left sidebar</a></li>
                                    <li><a href="pages-fix-inner-right-sidebar.html">Sticky Right sidebar</a></li>
                                    <li><a href="pages-invoice.html">Invoice</a></li>
                                    <li><a href="pages-treeview.html">Treeview</a></li>
                                    <li><a href="pages-utility-classes.html">Helper Classes</a></li>
                                    <li><a href="pages-search-result.html">Search result</a></li>
                                    <li><a href="pages-scroll.html">Scrollbar</a></li>
                                    <li><a href="pages-pricing.html">Pricing</a></li>
                                    <li><a href="pages-lightbox-popup.html">Lighbox popup</a></li>
                                    <li><a href="pages-gallery.html">Gallery</a></li>
                                    <li><a href="pages-faq.html">Faqs</a></li>
                                    <li>
                                        <a href="#" class="has-arrow">Error Pages</a>
                                        <ul aria-expanded="false" class="collapse">
                                            <li><a href="pages-error-400.html">400</a></li>
                                            <li><a href="pages-error-403.html">403</a></li>
                                            <li><a href="pages-error-404.html">404</a></li>
                                            <li><a href="pages-error-500.html">500</a></li>
                                            <li><a href="pages-error-503.html">503</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file-chart"></i><span class="hide-menu">Charts</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="chart-morris.html">Morris Chart</a></li>
                                    <li><a href="chart-chartist.html">Chartis Chart</a></li>
                                    <li><a href="chart-echart.html">Echarts</a></li>
                                    <li><a href="chart-flot.html">Flot Chart</a></li>
                                    <li><a href="chart-knob.html">Knob Chart</a></li>
                                    <li><a href="chart-chart-js.html">Chartjs</a></li>
                                    <li><a href="chart-sparkline.html">Sparkline Chart</a></li>
                                    <li><a href="chart-extra-chart.html">Extra chart</a></li>
                                    <li><a href="chart-peity.html">Peity Charts</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-brush"></i><span class="hide-menu">Icons</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="icon-material.html">Material Icons</a></li>
                                    <li><a href="icon-fontawesome.html">Fontawesome Icons</a></li>
                                    <li><a href="icon-themify.html">Themify Icons</a></li>
                                    <li><a href="icon-linea.html">Linea Icons</a></li>
                                    <li><a href="icon-weather.html">Weather Icons</a></li>
                                    <li><a href="icon-simple-lineicon.html">Simple Lineicons</a></li>
                                    <li><a href="icon-flag.html">Flag Icons</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-map-marker"></i><span class="hide-menu">Maps</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="map-google.html">Google Maps</a></li>
                                    <li><a href="map-vector.html">Vector Maps</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-arrange-send-backward"></i><span class="hide-menu">Multi level dd</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="#">item 1.1</a></li>
                                    <li><a href="#">item 1.2</a></li>
                                    <li>
                                        <a class="has-arrow" href="#" aria-expanded="false">Menu 1.3</a>
                                        <ul aria-expanded="false" class="collapse">
                                            <li><a href="#">item 1.3.1</a></li>
                                            <li><a href="#">item 1.3.2</a></li>
                                            <li><a href="#">item 1.3.3</a></li>
                                            <li><a href="#">item 1.3.4</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">item 1.4</a></li>
                                </ul>
                            </li>*@
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        @RenderBody()


    </div>
    <footer style=" background-color: rgb(50, 55, 60);padding:15px;">
        <p style="text-align:center;color:white;"> The Cosmopolitan Consumer Group, LLC    |    © Copyright 2022</p>
    </footer>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <script src="~/maeen_asset/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/maeen_asset/assets/plugins/bootstrap/js/popper.min.js"></script>

    <script src="~/maeen_asset/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/maeen_asset/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/maeen_asset/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/maeen_asset/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/maeen_asset/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/maeen_asset/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/maeen_asset/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    <script src="~/maeen_asset/assets/plugins/raphael/raphael-min.js"></script>
    <script src="~/maeen_asset/assets/plugins/morrisjs/morris.min.js"></script>
    <!-- sparkline chart -->
    <script src="~/maeen_asset/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/maeen_asset/js/dashboard4.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/maeen_asset/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>

    <script src="~/maeen_asset/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/maeen_asset/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    @*   <script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/colreorder/1.5.4/js/dataTables.colReorder.min.js"></script>
        <script src="https://cdn.datatables.net/datetime/1.1.1/js/dataTables.dateTime.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>*@

    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script src="~/maeen_asset/assets/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/maeen_asset/assets/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!--FooTable init-->
    <script src="~/maeen_asset/js/footable-init.js"></script>

    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/maeen_asset/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <!-- end - This is for export functionality only -->

    @*<script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            $(document).ready(function () {
                var table = $('#example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function () {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });
        });

    </script>*@
    @foreach (var i in ViewBag.sites)
    {
        if (@i.systemroll == "Super Admin")
        {

            <script>

                $('#example23').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copy',
                        'excel',
                        'csv',
                        'pdf',
                        'print'
                    ]

                });
                $('.example23').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copy',
                        'excel',
                        'csv',
                        'pdf',
                        'print'
                    ]

                });

            </script>
        }
    }
    @*<script>
        $(document).ready(function () {
            $('.myTable').DataTable();
            $(document).ready(function () {
                var table = $('.example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('.example tbody').on('click', 'tr.group', function () {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });
        });
      





    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/maeen_asset/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>*@

    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/maeen_asset/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <script>
        $(document).ready(function () {
            $(".dataTables_filter").removeAttr("top");
        });
    </script>







    @*Required datatable js*@

    <script src="~/agencyvendor_assets/assets/plugins/dropzone/dist/dropzone.js"></script>
    <script src="~/agencyvendor_assets/assets/plugins/dropify/js/dropify.min.js"></script>

    <!-- App js -->




    <script type="text/javascript">
        $(document).ready(function () {
            $('#DataTables_Table_1').DataTable();
        });
        $('#DataTables_Table_1').dataTable({
        
    "bDestroy": true
        });
    </script>
  
    <script>
        $(document).ready(function () {
            // Basic
            $('.dropify').dropify();

            // Translated
            $('.dropify-fr').dropify({
                messages: {
                    default: 'Glissez-déposez un fichier ici ou cliquez',
                    replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                    remove: 'Supprimer',
                    error: 'Désolé, le fichier trop volumineux'
                }
            });

            // Used events
            var drEvent = $('#input-file-events').dropify();

            drEvent.on('dropify.beforeClear', function (event, element) {
                return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
            });

            drEvent.on('dropify.afterClear', function (event, element) {
                alert('File deleted');
            });

            drEvent.on('dropify.errors', function (event, element) {
                console.log('Has Errors');
            });

            var drDestroy = $('#input-file-to-destroy').dropify();
            drDestroy = drDestroy.data('dropify')
            $('#toggleDropify').on('click', function (e) {
                e.preventDefault();
                if (drDestroy.isDropified()) {
                    drDestroy.destroy();
                } else {
                    drDestroy.init();
                }
            })
        });
    </script>
    <script src="~/maeen_asset/assets/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/maeen_asset/assets/plugins/sweetalert/jquery.sweet-alert.custom.js"></script>
    <script src="~/agencyvendor_assets/assets/plugins/select2/select2-init.js"></script>
    <script src="~/agencyvendor_assets/assets/plugins/select2/select2.full.min.js"></script>

    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/maeen_asset/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <script src="~/maeen_asset/assets/plugins/multiselect/js/jquery.multi-select.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            // Switchery
            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
            $('.js-switch').each(function () {
                new Switchery($(this)[0], $(this).data());
            });
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();
            //Bootstrap-TouchSpin
            $(".vertical-spin").TouchSpin({
                verticalbuttons: true,
                verticalupclass: 'ti-plus',
                verticaldownclass: 'ti-minus'
            });
            var vspinTrue = $(".vertical-spin").TouchSpin({
                verticalbuttons: true
            });
            if (vspinTrue) {
                $('.vertical-spin').prev('.bootstrap-touchspin-prefix').remove();
            }
            $("input[name='tch1']").TouchSpin({
                min: 0,
                max: 100,
                step: 0.1,
                decimals: 2,
                boostat: 5,
                maxboostedstep: 10,
                postfix: '%'
            });
            $("input[name='tch2']").TouchSpin({
                min: -1000000000,
                max: 1000000000,
                stepinterval: 50,
                maxboostedstep: 10000000,
                prefix: '$'
            });
            $("input[name='tch3']").TouchSpin();
            $("input[name='tch3_22']").TouchSpin({
                initval: 40
            });
            $("input[name='tch5']").TouchSpin({
                prefix: "pre",
                postfix: "post"
            });
            // For multiselect
            $('#pre-selected-options').multiSelect();
            $('#optgroup').multiSelect({
                selectableOptgroup: true
            });
            $('#public-methods').multiSelect();
            $('#select-all').click(function () {
                $('#public-methods').multiSelect('select_all');
                return false;
            });
            $('#deselect-all').click(function () {
                $('#public-methods').multiSelect('deselect_all');
                return false;
            });
            $('#refresh').on('click', function () {
                $('#public-methods').multiSelect('refresh');
                return false;
            });
            $('#add-option').on('click', function () {
                $('#public-methods').multiSelect('addOption', {
                    value: 42,
                    text: 'test 42',
                    index: 0
                });
                return false;
            });
            $(".ajax").select2({
                ajax: {
                    url: "https://api.github.com/search/repositories",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        // parse the results into the format expected by Select2
                        // since we are using custom formatting functions we do not need to
                        // alter the remote JSON data, except to indicate that infinite
                        // scrolling can be used
                        params.page = params.page || 1;
                        return {
                            results: data.items,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) {
                    return markup;
                }, // let our custom formatter work
                minimumInputLength: 1,
                //templateResult: formatRepo, // omitted for brevity, see the source of this page
                //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
            });
        });
    </script>


</body>

</html>
